*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to right, #5FC3E4, #E55D87);
    font-family: 'Roboto', sans-serif;
}
.menu-wrap{
    width: 100%;
    height: 50px;
    background-color:transparent;
}
.container{
    width: 100%;
    max-width: 960px;
    margin: auto;
    
}

.menu{
    list-style: none;
}
.menu ul{
    align-items: center;
}
.menu li{
    float: left;
}
.menu a{
    display: inline-block;
    text-decoration: none;
    font-size: 30px;
    padding: 0 10px;
    line-height: 50px;
    transition: all 0.5s;
}
.menu a:hover{
    background-color: violet;
    color: white;
}
.drop ul{
    opacity: 0;
    width: 200px;
    padding-left: 0px;
    padding-bottom: 10px;
    list-style: none;
    background-color: rgba(216, 191, 216,0.8);
    position: absolute;
    top: 100%;
    left: -500px;
}
.drop ul li{
    float: left;
}
.drop li> a{
    display: block;
    color: #fff;
    line-height: 50px;
    transition: all .2s;
}
.drop li>a:hover{
    background-color: rgb(230, 103, 255);
    border-left: 3px solid rgb(129, 205, 255);
    border-right: 3px solid rgb(129, 205, 255);
}
.drop{
    position: relative;
}
.drop:hover ul{
    opacity: 1;
    left: 0;
    transition: all .5s ease;
    transition-delay: 0s;
}
h1,p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    margin-top: 180px;
    margin-bottom: -180px;
    color: ivory;
}
h1{
    font-size: 50px;
}
p{
    font-size: 30px;
}